body {
    background-color: #e1e1e1;
}

.blog {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

@media (min-width: 768px) {
    .blog {
        grid-template-columns: repeat(4, 1fr);
    }
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    color: black;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
    border-radius: 8px;
    transition: box-shadow 200ms ease-in-out 0s;
}

.post:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 5px 0px,
        rgb(0 0 0 / 12%) 0px 3px 14px 3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px;
}

.post .contenido {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.post img {
    border-radius: 8px;
}

.post .contenido .titulo {
    font-size: 2rem;
}

.post .contenido .fecha {
    font-size: 1.8rem;
    margin: 0;
}
