.contenido-resumen {
    display: grid;
    align-items: flex-start;
    gap: 5rem;
}

@media (min-width: 768px) {
    .contenido-resumen {
        grid-template-columns: 3fr 2fr;
    }
}

.resumen {
    position: sticky;
    padding: 1rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
    border-radius: 8px;
    transition: box-shadow 200ms ease-in-out 0s;
}

.resumen:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 5px 0px,
        rgb(0 0 0 / 12%) 0px 3px 14px 3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px;
}

.resumen h3 {
    margin-top: 1rem;
}

.box-guitarra {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
    border-radius: 8px;
    margin-bottom: 2rem;
    transition: box-shadow 200ms ease-in-out 0s;
}

.box-guitarra:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 5px 0px,
        rgb(0 0 0 / 12%) 0px 3px 14px 3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px;
}

.box-guitarra .imagen {
    max-width: 80px;
    margin: 0 auto;
}

.box-guitarra .nombre {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}

.box-guitarra .precio {
    color: var(--primary);
    font-weight: 700;
    font-size: 2.2rem;
}
