.Post {
    display: flex;
    flex-direction: column;
}

.Post .imagen {
    max-width: 80rem;
    margin: 0 auto;
}

.Post .contenido {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin: 0;
}

.Post .contenido,
.titulo,
.fecha {
    margin: 0;
}

.Post .contenido .fecha {
    font-size: 1.6rem;
}
